# /
/bin
/ipch
/**/*.suo
/**/*.user
/**/*.aps
/**/build
/*.ncb
/*.sdf
/*.opensdf
/.vs
/DXFeed.VC.db
/DXFeed.VC.VC.opendb

# CLion
.idea
cmake-build-debug*/**
cmake-build-release*/**
**/cmake-build-*/**

/**/*.log
/**/*.*~
/docs/dxfeed*/