
# /
/bin
/build
/ipch
/*.suo
/*.user
/*.ncb
/*.sdf
/*.opensdf

/src/build

# /tests/APITest/
/tests/APITest/*.user

# /tests/CommandLineSample/
/tests/CommandLineSample/*.user
/tests/CommandLineSample/build

# /tests/ConnectionTest/
/tests/ConnectionTest/*.user

# /tests/FullTest/
/tests/FullTest/*.user

# /tests/LastEventTest/
/tests/LastEventTest/*.user

# /tests/PerformanceTest/
/tests/PerformanceTest/*.user

# /tests/QuoteTableTest/
/tests/QuoteTableTest/*.user

# /tests/SampleTest/
/tests/SampleTest/*.user

# /tests/UnitTests/
/tests/UnitTests/*.user

# /tests/SnapshotConsoleSample/
/tests/SnapshotConsoleSample/*.user
/tests/SnapshotConsoleSample/*.suo
/tests/SnapshotConsoleSample/build

# /wrappers/COM/samples/C++/
/wrappers/COM/samples/C++/*.user
/wrappers/COM/samples/C++/build

# /wrappers/COM/src/
/wrappers/COM/src/*.user
/wrappers/COM/src/build

# /tests/CandleSample/
/tests/CandleSample/*.user
/tests/CandleSample/build

log.log
/tests/UnitTests/*.log
/.vs
/DXFeed.VC.db
/DXFeed.VC.VC.opendb
